@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


*{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    
}

body{
    background-color: hsl(204, 43%, 93%);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 4rem 1.5rem;
    padding: 0.2rem 0;
}

.guarantee{
    background-color: white;
    padding: 2rem 1.5rem;
    border-radius: 0.3rem 0.3rem 0 0;
}
.guarantee h3{
    color: hsl(179, 62%, 43%);
}
.guarantee h4{
    color: hsl(71, 73%, 54%);
    font-size: 0.8rem;
    font-weight: 400;;
    padding-right: 1rem;
}
.guarantee p{
    color: hsl(218, 22%, 67%);
    font-size: 0.8rem;
    line-height: 2;
}
.subscription{
    background-color:hsl(179, 62%, 43%);
    padding: 1rem 1rem ;
    color: white;
    display: flex;
    flex-direction: column;
}
.subscription h3{
    opacity: 0.8;
    padding-bottom: 0;
    margin-bottom: 0.5rem;
}
.subscription h4{
    font-size: 2rem;
    margin: 0;
}
.subscription span{
    opacity: 0.5;
    font-size: 0.8rem;
    font-weight: 400;
    position: relative;
    bottom: 0.5rem;
    left: 0.3rem;
}
.subscription p{
    margin-bottom: 0.7rem;
    margin-top: 0.5rem;
    padding-bottom: 1rem;
    opacity: 0.7;
    font-size: 0.8rem;
}

.signup{
text-decoration: none;
color: white;
background-color:hsl(71, 73%, 54%);
padding: 0.7rem 0;
text-align: center;
border-radius: 0.4rem;
font-size: 0.8rem;
margin: 0 0.5rem 0.4rem 0.5rem;

}
.expertise{
    background-color:hsl(179, 62%, 43%);
    opacity: 0.9;
    padding: 1rem ;
    color: white;
    border-radius: 0 0 0.3rem 0.3rem;
}
.expertise ul{
    list-style: none;
    padding-left: 0;
}
.expertise ul li{
    padding: 0.1rem;
    opacity: 0.7;
    font-size: 0.8rem;
}

@media (min-width: 835px){
    .container{
        margin: 3rem 10rem;
        width: 600px;
    }
    .second{
        display: flex;
        flex-direction: row;
        border-radius: 0 0 0.3rem 0.3rem;
        overflow: hidden;
    }
    .guarantee{
        padding: 1rem 2rem 1rem 3rem ;
    }
    .guarantee h3{
        font-size: 1.6rem;
        font-weight: 400;
    }
    .guarantee h4{
        font-size: 1rem;
        font-weight: 700;
    }
    .guarantee p{
        font-size: 0.9rem;

    }
    .subscription{
        flex-basis: 50%;
        padding: 1rem 1rem 1rem 2rem ;
        border-radius: 0 0 0 0.3rem;
    }
    .subscription p{
        font-size: 0.9rem;
    }
    .expertise{
        flex-basis: 50%;
        text-align: left;
        padding: 1rem 1rem 1rem 2rem ;
        border-radius: 0 0 0.3rem 0;   
    }
    
    .expertise p{
        font-size: 0.9rem;
        
    }
    .signup{
        padding: 1rem ;
        font-size: 0.9rem;
        margin-left: 0;
        
    }

}
